.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}
.home-content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;

}
.home-title {
    font-size: 45px;
    margin: 0;
}


.home-subtitle{
    font-size: 20px;
    font-style: italic;
}