@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/rubik-v28-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/rubik-v28-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
main {
  flex-grow: 1;
}
*:focus {
  outline: 2px dotted var(--purple-color);
  outline-offset: 3px;
}
img {
  display: flex;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-family: var(--main-font-family);
  font-weight: 500;
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light-grey-color);
  color: var(--dark-navy-color);
}
a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  border: 0;
  background-color: var(--purple-color);
  color: var(--prue-white-color);
  border-radius: 24px;
  padding: 32px 0;
  font-size: 28px;
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}
